@mixin display {
    width: 90%;
    margin: 90px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    // border: 1px solid #000;
    box-shadow: rgba(51, 50, 50, 0.26) 0px 2px 15px ;
}

@mixin imgSize {
    width: 600px;
}
