$mobile-width :375px;
$desktop-width :1440px;

$myPrimary-color:  hsl(322, 100%, 66%);
$myNeutral-color: hsl(240, 2%, 11%);
$myFooter-color: hsl(192, 100%, 9%);

$headingFont-family: "[Poppins](https://fonts.google.com/specimen/Poppins)";
$bodyFont-family: "[Open Sans] (https://fonts.google.com/specimen/Open+Sans)";
$myfont-size: "18px";